@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Caprasimo&family=Sometype+Mono');
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nav {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  height: 60px;
  margin: 10px;
  margin-bottom: 20px;
  }

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  --bs-navbar-active-color: rgb(11, 92, 43)
}

.nav-link {
  color: #acb420!important;
  font-family: Montserrat!important;
  --bs-nav-link-hover-color: rgb(11, 92, 43)!important;
  font-weight: bold!important;
  margin-left: 20px;
}

.nav-link.active {
  color: rgb(11, 92, 43);
}
    
body { 
 background-color: rgb(247, 247, 241)!important;
 font-family: Montserrat!important;
}

#logo {
  width: 300px;
}

.measures {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.amounts {
  margin-right: 15px;
}

.search {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: rgb(11, 92, 43)!important;
  border: 1px solid black!important;
  color: white!important;
  --bs-btn-hover-bg: #acb420!important;
  --bs-btn-hover-border-color: #acb420!important;
}

#sign-out {
  margin-left: 50px;
}

.card {
background-color: transparent;
border: 1px solid black;
border-radius: 8px;
}

.info {
  margin-left: 20px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shrikhand {
  font-family: Shrikhand;
  font-size: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.caprasimo
{
  font-family: Caprasimo;
}

.nav {
  --bs-link-color: white!important;
  --bs-nav-link-hover-color: white!important;
  font-size: 20px;
}

.title {
  font-size: 30px;
  font-family: Caprasimo;
}

.corner {
  display: flex;
  justify-content: flex-end;
}

.bi {
  color: #acb420!important;
}

.smCard {
  margin: 20px;
  flex: 0 1 20%;
}

.lgCard {
  width: 60rem;
}

.center {
  display: flex;
  justify-content: center;
}

.smPic {
  height: 200px;
  margin-right: 10px
}

.lgPic {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
