@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Caprasimo&family=Sometype+Mono');
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nav {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  height: 60px;
  margin: 10px;
  margin-bottom: 20px;
  }

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  --bs-navbar-active-color: rgb(11, 92, 43)!important;
}

.nav-link {
  color: #acb420!important;
  font-family: Montserrat!important;
  --bs-nav-link-hover-color: rgb(11, 92, 43)!important;
  font-weight: bold!important;
  margin-left: 20px;
}

.nav-link.active {
  color: rgb(11, 92, 43)!important;
}
    
body { 
 background-color: rgb(247, 247, 241)!important;
 font-family: Montserrat!important;
}

#logo {
  /* width: 300px; */
}

.home-content {
  display: flex;
  flex-direction: row;
  gap: 3em;

}

.left-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.middle-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;
  align-content: center;
  background-color: #acb420;
  padding: 15px;
  border-radius: 10px;
}

.left-middle {
  display: flex;
}

.random-title {
  display: flex;
  justify-content: flex-start;
}

.top-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bartender {
  width: 100%;
}

.measures {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: left;
}

.ingredients {
  flex: 2;
}

.amounts {
  margin-right: 10px;
  flex: 1;

}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.instructions {
  margin: 10px 0;
  font-size: 14px;
}

.search {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: rgb(11, 92, 43)!important;
  border: 1px solid black!important;
  color: white!important;
  --bs-btn-hover-bg: #acb420!important;
  --bs-btn-hover-border-color: #acb420!important;
}

#sign-out {
  margin-left: 50px;
}

.card {
background-color: transparent;
border: 1px solid black;
border-radius: 8px;
}

.info {
  margin-left: 20px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shrikhand {
  font-family: Shrikhand;
  font-size: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.name
{
  font-family: Caprasimo;
  font-size: 25px;
}

.nav {
  --bs-link-color: white!important;
  --bs-nav-link-hover-color: white!important;
  font-size: 20px;
}

.title {
  font-size: 30px;
  font-family: Caprasimo;
}

.corner {
  display: flex;
  justify-content: flex-end;
}

.bi {
  color: #acb420!important;
}

.smCard {
  margin: 20px;
  flex: 0 1 20%;
}

.lgCard {
  width: 60rem;
}

.center {
  display: flex;
  justify-content: center;
}

.smPic {
  height: 200px;
  margin: 8px 10px 0 0;
}

.lgPic {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#shaker {
  width: 400px
}



.smfont {
  font-size: 13px;
}

.bold {
  font-weight: bold;
}

#refresh {
  margin: 10px;

}

.yellow {
  background-color: #acb420;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  right: 80px;
}

#start {
  color: rgb(11, 92, 43);
  font-size: 25px;
}

.shape {
  display: flex!important;
  border: 1px solid rgb(11, 92, 43)!important;
  border-radius: 15px!important;
  align-content: center!important;
  padding: 25px!important;
  margin: 0!important;

}

.smtitle {
  font-size: 25px;
  font-family: Caprasimo;
}

.outline {
  color: rgb(247, 247, 241)!important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black!important;
}

.added {
  color:rgb(11, 92, 43);
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 720px;
    padding: 0 1em
  }

  #nav{
    height: fit-content
  }

  #logo {
    height: 50px
  }

  #sign-out {
    margin: 20px;
    width: fit-content;
  }

  .home-content {
    flex-direction: column;
  }


  .right-content {
    width: fit-content;
    margin: 0 3rem 10rem 
  }

  .top {
    display: flex;
    justify-content: space-evenly;
  }

  .measures {
    padding: 8px;
  }

  .shape {
    position: absolute;
    bottom: -500px;
    left: 35%
  }

}

@media screen and (max-width: 420px) {
  /* #bartender {
    width: 200px
  } */

  #nav {
    margin: 10px;
    padding: 0
  }

  .container {
    padding: 0 10px
  }

  .credit {
    font-size: 10px;
    margin-top: 10px;
  }

  .title {
    font-size: 20px
  }

  .home-content {
    max-width: 420px;
    justify-content: center;
  }

  .left-content {
    width: fit-content;
    flex: 1
  }

  .middle-content {
    flex: 1;
    padding-right: 10px
  }

  .right-content {
    margin: 0
  }

  .smPic {
    height: 150px
  }

  .pic {
    flex: 1;
  }

  .top-half {
    flex: 2
  }

  p {
    font-size: 13px;
    margin: 0 8px 8px 0;
  }

  .random-card {
    padding: 8px
  }

  .instructions {
    font-size: 12px;
    margin: 4px 0 4px 0
  }

  .shape {
    bottom: -4em;
    left: 25%;
    padding: 10px
  }

  .shrikhand {
    font-size: 20px;
  }

  .name {
    font-size: 20px;
  }

  .smfont {
    font-size: 10px;
  }
}
